body {
  background-color: #885f41; 
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 15px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
}

ul, ol {
  margin-bottom: 20px;
  padding-left: 25px;
}
